.br_input {
  border: none;
  width: 80%;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  background: #ffffff;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.br_btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.br_btn {
  height: 3.7rem;
  width: 3.7rem;
  margin: 0 .5rem;
  border: none;
  box-shadow: 0px 2px 4px #d9d9d9;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
}
.br_btn1 {
  background-color: #c6c6c6;
}
.br_btn2 {
  background-color: #1d1f22;
}
.br_banner {
  margin: 0 .5rem;
  height: 3.7rem;
  width: 3.7rem;
  border: none;
  box-shadow: 0px 2px 4px #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

@media all and (max-width: 750px) {
  .br_input {
    width: 100%;
  }
  .br_btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
