.project {
  width: 100%;
  height: 100%;
}
.p_navbar {
  padding: 2.8rem 4rem 0 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p_marleyNavbar {
  font-size: 2rem;
  padding-right: 4rem;
}
.p_navbarRight {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.p_number {
  margin: 0 1rem 0 2rem;
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
}
.p_submit {
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  border-bottom: 0.5px solid gray;
}
.p_jpgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.15rem;
}
.p_jpg {
  max-width: 650px;
  max-height: 460px;
  box-shadow: 5px 6px 8px #d9d9d9;
}
.p_intro {
  margin: 1rem 0;
  padding: 0 3.5rem;
}
.p_title {
  font-size: 2.9rem;
  padding: 0 3.5rem;
}
.p_p {
  margin: 6rem 22vw 2rem;
  text-justify: auto;
  text-align: justify;
  line-height: 2.8rem;
  font-size: 1.3rem;
}
.p_p1 {
  margin-top: 2rem;
}
.p_items {
  margin: 3.8rem 0 0 22vw;
  display: flex;
}
.p_itemsL {
  display: flex;
  flex-direction: column;
}
.p_itemL {
  line-height: 2.5rem;
  font-size: 1.2rem;
}
.p_itemsR {
  margin: 0 0 0 4rem;
  display: flex;
  flex-direction: column;
}
.p_itemR {
  line-height: 2.5rem;
  font-size: 1.2rem;
}
.p_btn {
  margin: 6rem 1.5rem 6rem auto;
  background-color: #2b2b2b;
  outline: none;
  padding: 1.2rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16vw;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  width: 250px;
}
.p_arrow {
  margin-left: -4rem;
}
.p_menu {
  width: 100vw;
  background-color: #1d1f22;
  padding: 5vh 0;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}
.p_menu2 {
  display: none;
}
.circle {
  width: 35vh;
  height: 35vh;
  background-color: transparent;
  border: 2.9px rgb(63, 63, 63) solid;
  border-radius: 100%;
  position: absolute;
  top: 65vh;
  right: 19.6vw;
  z-index: 10;
}
.triangle {
  position: absolute;
  top: 50vh;
  right: 15vw;
  width: 200px;
  height: 200px;
  filter: invert(20%);
}

@media all and (max-width: 750px) {
  .p_navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 2.8rem 2rem 0;
  }
  .p_navbarRight {
    width: 100%;
    flex-direction: column;
  }
  .p_number {
    margin: 0;
  }
  .p_submit {
    margin: 1rem 0;
  }
  .p_jpg {
    width: 380px;
  }
  .triangle {
    display: none;
  }
  .circle {
    display: none;
  }
  .p_title,
  .p_intro,
  .p_p {
    padding: 0;
    margin: 2rem 1.5rem;
  }
  .p_items {
    margin: 0 1.5rem;
  }
  .p_menu {
    display: none;
  }
  .p_menu2 {
    display: inline-block;
  }
  .p_itemL {
    line-height: 2rem;
    font-size: 1rem;
  }
  .p_itemR {
    line-height: 2rem;
    font-size: 1rem;
  }
}

@media all and (max-width: 500px) {
  .p_navbar {
    flex-direction: column;
  }
  .p_p {
    font-size: 1rem;
  }
}
