.landing {
  background-color: #1d1f22;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  color: white;
  padding: 2.8rem 3.5rem;
}
/* NAVBAR */
.l_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l_navbarRight {
  display: flex;
}
.l_submit {
  border-bottom: 0.5px solid white;
}
.l_number {
  margin: 0 1rem 0 2rem;
}
.l_burger {
  margin-top: -0.7rem;
}
/* MAIN SECTION */
.l_main {
  margin-top: 14rem;
  height: 100%;
}
.l_mainh3 {
  font-weight: 300;
  margin: 1.5rem auto;
}
.l_mainh1 {
  margin: 0 0 4rem;
  font-weight: 300;
  font-size: 2.9rem;
  width: 60%;
}
.l_grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.9rem;
}
.l_website1 {
  height: 113vh;
  width: 100%;
  padding: 0.6rem;
}
.l_blank1 {
  width: 100%;
  height: 89vh;
  background-color: white;
}
.l_website2 {
  height: 140vh;
  width: 100%;
  padding: 0.6rem;
}
.l_blank2 {
  width: 100%;
  height: 120vh;
  background-color: white;
}
.l_website3 {
  height: 153.5vh;
  width: 100%;
  padding: 0.6rem;
}
.l_blank3 {
  width: 100%;
  height: 133.5vh;
  background-color: white;
}
.l_webTitle {
  font-size: 1.17rem;
  margin: 1.5rem auto 0.6rem;
}
.l_description {
  font-size: 1.15rem;
}
.l_statementContainer {
  padding: 0.5rem 4.6rem 0 5.3rem;
  margin-bottom: 7.5rem;
}
.l_statement {
  font-size: 2.9rem;
  line-height: 3.35rem;
  letter-spacing: 0.01rem;
}
/* FOOTER */
footer {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.l_reserved {
  margin: 0;
  width: auto;
  font-size: 0.8rem;
}

@media all and (max-width: 1000px) {
  .landing {
    background-color: #1d1f22;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    color: white;
    padding: 2rem 6.3rem;
  }
  .l_navbar {
    align-items: flex-start;
    padding: 0;
  }
  .l_navbarRight {
    margin-top: 14px;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
  }
  .l_number {
    margin: 0.5rem 0;
  }
  .l_submit {
    margin: 0.5rem 0;
  }
  .l_mainh1 {
    width: 80%;
    margin: 0;
  }
  .l_grid2 {
    display: inline-block;
  }
  .l_blank1,
  .l_blank2,
  .l_blank3 {
    height: 100vh;
    width: 100%;
  }
  .l_website1,
  .l_website2,
  .l_website3 {
    height: 113vh;
    width: 100%;
    padding: 0.6rem;
    margin: 6rem auto;
  }
  .l_statementContainer {
    padding: 0;
    margin: 6rem auto;
  }
}

@media all and (max-width: 750px) {
  .landing {
    padding: 2rem 3rem;
  }
  .l_main {
    margin-top: 6rem;
  }
  .l_mainh1 {
    width: 90%;
  }
  .l_submit {
    font-size: .88rem;
  }
}

@media all and (max-width: 450px) {
  .landing {
    padding: 2rem 1rem;
  }
  .l_submit {
    font-size: 3.2vw;
  }
}
