.menu {
  height: 100vh;
  width: 100vw;
  background-color: #1D1F22;
  padding: 25vh 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}
.m_content {
  height: 50vh;
  padding: 3.5rem 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.m_grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2.3rem;
}
.m_marley {
  letter-spacing: 0.47px;
  font-size: 23px;
  margin-bottom: 2.5rem;
}
.m_littletext {
  letter-spacing: .03rem;
  font-size: .7rem;
  margin: .85rem 0;
}
.m_column {
  padding: .5rem;
}
.m_business {
  margin-top: 2rem;
}

@media all and (max-width: 1000px) {
  .m_content {
    padding: 3.5rem 2rem;
  }
}

@media all and (max-width: 750px) {
  .m_content {
    padding: 3.5rem 1rem;
  }
  .m_grid6 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

@media all and (max-width: 450px) {
  .menu {
    height: 200vh;
    padding: 20vh 0 0 2rem;
  }
  .m_grid6 {
    grid-template-columns: 1fr;
    column-gap: 2.3rem;
  }
}