.service {
  background-color: #1d1f22;
  padding-bottom: 8rem;
}
.s_p {
  margin-top: 1.7rem;
  line-height: 1.8rem;
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}
.s_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem 0;
}
.s_p2 {
  margin: 0 1.5rem;
  line-height: 1.4rem;
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}
.s_p3 {
  font-size: 0.9rem;
}
.s_btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #d5d5d5;
  padding: 1.4rem 3.5rem;
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  outline: none;
  border: none;
  border-radius: 200px;
}

@media all and (max-width: 750px) {
  .s_container {
    flex-direction: column;
  }
  .s_containerLil {
    margin-bottom: 1.5rem;
  }
}

@media all and (max-width: 450px) {
  .s_btn {
    width: 80%;
    padding: 1.4rem 2rem;
  }
}
