.legal {
  height: 100vh;
  width: 100vw;
  background-color: #1d1f22;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  padding: 30vh 11vw 0 11vw;
}
.l_littletext {
  letter-spacing: 0.03rem;
  font-size: 0.7rem;
  margin: 0.85rem 0;
}
