.d_skipContainer {
  display: flex;
}
.d_tripleCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.checkboxContHalf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.d_input {
  width: 46.5%;
  border: none;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  background: #ffffff;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.d_input1 {
  width: 88.5%;
  margin-right: 0.5rem;
}

@media all and (max-width: 750px) {
  .d_tripleCont {
    flex-direction: column;
  }
  .checkboxContHalf {
    width: 100%;
  }
  .d_input {
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  .d_skipContainer {
    flex-direction: column;
  }
  .d_pre {
    margin: 0.5rem 0 0;
  }
}
