.unsuccessful {
  background-color: #1d1f22;
  min-height: 100vh;
  width: 100vw;
  padding: 34vh 0 0 33vh;
}
.us_p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.us_p1 {
  font-size: 2.8rem;
  margin-bottom: .5rem;
}
.us_p2 {
  font-size: 1.5rem;
}

@media all and (max-width: 800px) {
  .unsuccessful {
    padding: 10rem 1rem 0;
    height: auto;
  }
}