.about {
  height: 100vh;
  width: 100vw;
  background-color: #1D1F22;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  padding: 40vh 11vw 0 11vw;
}
.a_littletext {
  letter-spacing: 0.03rem;
  font-size: 0.7rem;
  margin: 0.85rem 0;
}
.a_littletitle {
  font-size: 0.8rem;
  margin: 0.5rem 0 0;
}

@media all and (max-width: 750px) {
  .about {
    padding: 25vh 11vw;
  }
}
