.d2_flex {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.d2_flex2 {
  display: flex;
}
.d_container {
  display: flex;
  width: 100%;
}
.d_container2 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.d_section {
  margin: 1.7rem 0;
  font-size: 0.8rem;
}
.d_section:hover {
  color: black;
}
.d_sectionLast {
  margin-bottom: 0;
}
.d_checkboxes {
  margin: 0 1rem 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.d2_checkbox {
  margin: 0.3rem 0;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  -webkit-appearance: none;
  outline: none;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.d2_checkbox:checked {
  background-color: #f0737f;
  border: 1px solid #ddd;
  background-position: center;
}
.d2_blue {
  background-color: blue !important;
}
.d_list {
  margin-bottom: 0.5rem;
}
.d2_input1 {
  width: 51%;
  padding: 0.5rem 0 0.2rem;
  margin: 0.5rem 0;
  outline: none;
  border: none;
  border-bottom: 0.2px dashed lightgray;
}

@media all and (max-width: 1000px) {
  .d_container {
    flex-direction: column;
  }
}
