.ap_container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.3rem;
  margin-left: -0.5rem;
}
.ap_content {
  background-color: #1d1f22;
  color: white;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  padding: 4.2rem 1.2rem 1.2rem;
  height: 55vh;
  width: 19vw;
  min-width: 250px;
  box-shadow: 10px 12px 10px #d9d9d9;
}
.ap_selected1 {
  border: 6px solid #21759b;
}
.ap_selected2 {
  border: 6px solid #9b5c8f;
}
.ap_selected3 {
  border: 6px solid #00b0ff;
}
.ap_selected4 {
  border: 6px solid #61dafb;
}
.ap_title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
  text-align: center;
}
.ap_logo1 {
  height: 96px;
}
.ap_logo2 {
  height: 87px;
}
.ap_logo3 {
  height: 145px;
}
.ap_logo4 {
  height: 120px;
}
.ap_btn {
  padding: 1.26rem;
  border-radius: 100px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.7px;
  border: none;
  color: white;
  outline: none;
}
.ap_btn1 {
  background-color: #21759b;
}
.ap_btn2 {
  background-color: #9b5c8f;
}
.ap_btn3 {
  background-color: #00b0ff;
}
.ap_btn4 {
  background-color: #61dafb;
}
.ap_arrow {
  height: 54px;
  position: absolute;
  bottom: 14px;
  right: 161px;
}
.ap_checked {
  position: absolute;
  right: 200px;
  top: 165px;
}

@media all and (max-width: 1200px) {
  .ap_checked {
    right: 150px;
    top: 150px;
  }
}

@media all and (max-width: 1000px) {
  .ap_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.3rem;
    margin-left: -0.7rem;
    margin-top: 2rem;
  }
  .ap_content {
    margin: 1.5rem auto;
  }
}

@media all and (max-width: 750px) {
  .ap_container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -0.7rem;
  }
  .ap_content {
    width: 80%;
    max-width: 320px;
    margin: 1.5rem 0;
  }
  .ap_checked {
    right: 70px;
    top: 147px;
  }
}
