.bs_input {
  height: 200px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 4px #d9d9d9;
  padding: 1.3rem 1.8rem;
  width: 49.3%;
  font-size: 0.75rem;
}
/* TEXTAREA */
textarea::-webkit-input-placeholder {
  color: #909193;
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #909193;
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #909193;
}
textarea:-ms-input-placeholder {
  color: #909193;
}
textarea::placeholder {
  color: #909193;
}
textarea {
  resize: none;
}

@media all and (max-width: 750px) {
  .inputContainer {
    margin: 0;
  }
  .inputHalf,
  .inputAlmost,
  textarea,
  .bs_input {
    margin: 0.5rem auto;
    width: 100%;
  }
}
