.successful {
  background-color: #1d1f22;
  min-height: 100vh;
  width: 100vw;
  padding: 34vh 0 0 33vh;
}
.ss_p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.ss_p1 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
.ss_p2 {
  font-size: 1.5rem;
}
.ss_message {
  text-align: center;
  padding: 0 34vh 0 0;
  margin: 3rem;
}

@media all and (max-width: 800px) {
  .successful {
    padding: 10rem 1rem 0;
    height: auto;
  }
  .ss_message {
    margin: 3rem 0;
    padding: 0;
  }
}
