body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
address {
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* APP.JS */
.page {
  position: absolute;
  left: 0;
}
.section {
  padding: 3.1rem 9.5rem;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}
/* CURSOR */
.pointer {
  cursor: pointer;
}
.default {
  cursor: default;
}
.nope {
  cursor: not-allowed;
}
/* COLOR */
.gray {
  color: gray;
}
.lightgray {
  color: lightgray;
}
.thisgray {
  color: #909193;
}
.light {
  font-weight: 300;
}
.whitesmoke {
  color: whitesmoke;
}
.white {
  color: white;
}
.black {
  color: black;
}
/* TEXT */
.underline {
  text-decoration: underline;
}
.thisunderline {
  border-bottom: 1px solid white;
}
.marley {
  letter-spacing: 0.47px;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  min-width: 200px;
}
.subtitle {
  font-size: 0.78rem;
  letter-spacing: 0.004rem;
  margin: 0.4rem 0 2rem;
}
.nanum {
  font-family: "Nanum Gothic", sans-serif;
}
.nanumSerif {
  font-family: "Nanum Myeongjo", serif;
}
.damascus {
  font-family: "Damascus", sans-serif;
}
.helvetica {
  font-family: "Helvetica", sans-serif;
}
.bold {
  font-weight: bold;
}
.blinking {
  animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  10% {
    color: gray;
  }
  33% {
    color: lightgray;
  }
  50% {
    color: transparent;
  }
  60% {
    color: lightgray;
  }
  80% {
    color: gray;
  }
  100% {
    color: #000;
  }
}
.little {
  font-size: 0.8rem;
}

/* INPUTS */
::placeholder {
  color: rgb(158, 157, 157);
}
input {
  outline: none;
  -webkit-appearance: none;
}
.outline {
  outline: none;
}
.inputFull {
  width: 100%;
  border: none;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  background: #ffffff;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.inputHalf {
  width: 49.3%;
  border: none;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  background: #ffffff;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.inputAlmost {
  width: 93.8%;
  border: none;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  background: #ffffff;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.inputDate {
  width: 98%;
  border: none;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  background: #ffffff;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.react-datepicker-wrapper {
  width: 100%;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  padding: 0.85rem 2rem;
}
.calendar {
  color: #f0737f;
}
/* IMAGES */
.objectfit {
  object-fit: none;
}
/* CHECKBOXES */
.checkboxCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
._checkbox {
  width: 4vw;
  min-width: 60px;
  height: 8.4vh;
  min-height: 60px;
  background-color: white;
  border-radius: 50%;
  -webkit-appearance: none;
  outline: none;
  box-shadow: 0px 2px 4px #d9d9d9;
}
._checkbox:checked {
  background-color: #f0737f;
  border: 1px solid #ddd;
  background-position: center;
}
.outside {
  width: 4vw;
  min-width: 60px;
  height: 8.4vh;
  min-height: 60px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  outline: none;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.insidefalse {
  display: none;
}
.insidetrue {
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  position: relative;
  /* top: 1.65vw; */
  top: 24.5px;
  /* left: 3.38vh; */
  left: 25px;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: #f0737f;
}
.outsideLil {
  margin: 0.3rem 0;
  width: 2rem;
  height: 2rem;
  /* min-width: 60px;
  min-height: 60px; */
  background-color: transparent;
  border: none;
  border-radius: 100px;
  outline: none;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.insidefalseLil {
  display: none;
}
.insidetrueLil {
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  position: relative;
  /* top: 1.65vw; */
  top: 10px;
  /* left: 3.38vh; */
  left: 10.687px;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: #f0737f;
}
/* LINKS STYLE */
.linkWhite {
  color: white;
  text-decoration: none;
}
.linkBlack {
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/* MESSAGES */
.message {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 10%;
  width: fit-content;
  background-color: #f0737f;
  padding: 0.8rem 1.6rem;
  border-radius: 100px;
  font-size: 0.7rem;
}
/* ARROW */
.arrow {
  height: 54px;
  position: absolute;
  /* top: 630px; */
  bottom: 14px;
  right: 161px;
  animation-name: arrow_animation;
  animation-duration: 1000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.menu_arrow {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 60px;
  left: 50px;
  animation-name: arrow_animation;
  animation-duration: 1000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes arrow_animation {
  0% {
    transform: translate(0%, 0);
  }
  25% {
    transform: translate(10%, 0);
  }
  50% {
    transform: translate(0%, 0);
  }
  75% {
    transform: translate(-10%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@media all and (max-width: 1200px) {
  .section {
    padding: 2rem 2rem 3rem;
    height: auto;
  }
}

@media all and (max-width: 1000px) {
  .inputAlmost {
    width: 92%;
  }
  .arrow {
    bottom: 14px;
    right: 50px;
  }
}

@media all and (max-width: 750px) {
  .littleMenuText {
    line-height: 3rem;
  }
  .inputContainer {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .inputHalf,
  .inputDate,
  .inputAlmost,
  textarea {
    width: 100%;
  }
  .inputAlmost {
    margin: 0 0.5rem 0 0;
  }
}

@media all and (max-width: 450px) {
  .inputAlmost {
    width: 80%;
  }
}
