.l_input {
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0px 2px 4px #d9d9d9;
  padding: 1.3rem 1.8rem;
  font-size: 0.75rem;
  height: 128px;
  margin: 0.5rem 0;
}

@media all and (max-width: 750px) {
  .l_input {
    margin-bottom: 1.5rem;
  }
}
